@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Slabo+27px);
@import url(../fonts/font-awesome/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

#terminal {
	font-size: 13px;
	color:#f8f8f8;
	font-family: 'Inconsolata';
	text-align: left;
	margin: 0px auto 10px auto;
	width: 100%;
	background-color:#445566;
	padding:10px 0px 0px 15px;
	border-radius: 0px 0px 4px 4px;
} 

#topbarthing {
	margin: auto;
	margin-top:10px;
	background-color:#e3e3e3;
	border-radius: 4px 4px 0px 0px;
	padding: 1px 9px 0px 6px;
	height: 18px;
	width: 100%;
} 	    
.circle {
	width: 8px;
	height:8px;
	border-radius: 8px;
	margin: 4px 7px 1px 0px;
	float:left;
} 
.red {
	background-color:#FF4D4D;
	border: solid 1px #B83737;
}
.yellow {
	background-color:#FFDB4D;
	border: solid 1px #CCAF3E;
} 
.green {
	background-color:#33CC33;
	border: solid 1px #29A329;
}

.input {
	color: #c7c7c7;
}
.string {
	color:#fff1b7;
}