html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* -ms-text-size-adjust: 100%; */
}

body {
  margin: 0;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: #333;
}

img {
    display: block;
    margin: 0 auto;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  background-color: #F5F5F5;
  line-height: 75px;
  font-size: 20px;
  font-weight: 700;
  color: black;
}

.grid {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 45%;
    height: 100%;
}

/***** ABOUT *****/
#about {
  background-color: #C26868;
  height: calc(100% + 75px);
  width: 100%;
  margin-top: 75px;
}

#about p {
  /* text-align: center; */
  margin-top: 50px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.1em;
  font-weight: 700;
  color: #fafafa;
  font-size: 30px;
  text-transform: uppercase;
}

#about a {
  color: #3a92c8;
  text-decoration: none;
}

#about a:hover {
  text-decoration: underline;
}

#topbar {
  margin: auto;
  margin-top: 40px;
  background-color: #e3e3e3;
  border-radius: 4px 4px 0px 0px;
  padding: 1px 3px 1px 6px;
  height: 18px;
  width: 100%;
}       

.circle {
  width: 8px;
  height:8px;
  border-radius: 8px;
  margin: 4px 7px 1px 0px;
  float:left;
} 
.red {
  background-color:#FF4D4D;
  border: solid 1px #B83737;
}
.yellow {
  background-color:#FFDB4D;
  border: solid 1px #CCAF3E;
} 
.green {
  background-color:#33CC33;
  border: solid 1px #29A329;
}

#terminal {
  font-family: 'Monaco', 'Courier New';
  text-align: left;
  font-size: 13px;
  width: 89%;
  padding: 40px;
  height: 65%;
  background: #383737;
}

span.answer {
  color:#ccc;
}

.fa {
  color: #ffffff;
} .fa-linkedin:hover {
  color: #5695b6;
} .fa-github:hover {
  color: #474747;
} .fa-facebook:hover {
  color: #7e90b4;
} .fa-file-pdf-o:hover {
  color: #de5959;
}

ul.links {
  list-style-type: none;
  display: inline;
  margin-right: 40px;
  white-space: nowrap;
}

ul.links li {
  display: inline;
  font-size: 35px;
  padding-left: 9px;
  padding-right: 7px;
}
/***** ABOUT END *****/

/***** PROJECTS *****/

/***** PROJECTS END *****/