html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #333;
}

img {
    display: block;
    margin: 0 auto;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  background-color: #2C3E50;
  line-height: 75px;
  font-size: 20px;
  font-weight: 700;
}

.grid {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 400px;
    margin: 50px 200px 0px 100px;
}

#about {
  background-color: #21CE8E;
  height: 700px;
  width: 100%;
  margin-top: 75px;
}

#about p {
  text-align: left;
  margin-top: 85px;
  width: 290px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.3em;
  font-weight: 700;
  color: #fafafa;
  font-size: 25px;
  text-transform: uppercase;
}

#about a {
  color: #3a92c8;
  text-decoration: none;
}

#about a:hover {
  text-decoration: underline;
}

#topbar {
  margin: auto;
  margin-top: 10px;
  background-color: #e3e3e3;
  border-radius: 4px 4px 0px 0px;
  padding: 1px 9px 0px 6px;
  height: 18px;
  width: 735px;
}       

.circle {
  width: 8px;
  height:8px;
  border-radius: 8px;
  margin: 4px 7px 1px 0px;
  float:left;
} 
.red {
  background-color:#FF4D4D;
  border: solid 1px #B83737;
}
.yellow {
  background-color:#FFDB4D;
  border: solid 1px #CCAF3E;
} 
.green {
  background-color:#33CC33;
  border: solid 1px #29A329;
}

#terminal {
  font-family: 'Monaco', 'Courier New';
  text-align: left;
  font-size: 13px;
  width: 670px;
  padding: 40px;
  height: 450px;
  margin:0 auto;
  background: #383737;
}

span.answer {
  color:#ccc;
}

.fa {
  color: #ffffff;
} .fa-linkedin:hover {
  color: #5695b6;
} .fa-github:hover {
  color: #474747;
} .fa-facebook:hover {
  color: #7e90b4;
} .fa-file-pdf-o:hover {
  color: #de5959;
}

ul.links {
  list-style-type: none;
  display:inline;
  margin-right:4px;
  white-space: nowrap;
}

ul.links li{
  display:inline;
  font-size:35px;
  padding: 7px;
}